.FileContentControlView {
  display: grid;
  grid-template-columns: 7fr 1fr;
}

.FileStateIdentityBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.IsSetToPrimary[isPrimary="true"] {
  color: green;
}

.FileDiffStateFontColour[fileDiffState="equal"] {
  color: green;
}
.FileDiffStateFontColour[fileDiffState="contains"] {
  color: yellow;
}
.FileDiffStateFontColour[fileDiffState="unequal"] {
  color: red;
}

.FileStateIdentity{
  width: 20px;
  height: 20px;
  background-color: red;
  border-color: red;
  border-radius: 50%;
}

.IsEqualToPrimary[isEqualToPrimary="true"] {
  background-color: green;
  border-color: green;
}
