.FileContentOverviewPanel {
  height: 100%;
}
.FileContentScrollBox {
  height: 100%;
  overflow: auto;
}
.FileContentElementHolder {
  display: flex;
  flex-wrap: wrap;
}
.FileContentElementPadding {
  box-sizing: border-box;
  padding: 10px;
  min-height: 600px;
  min-width: 33%;
}
