.FileDetailsContentViewGrid {
  display: grid;
  grid-template-rows:1fr 19fr;
  box-sizing: border-box;
  height: 100%;
}

.FileDetailsContentViewTabs {
  border: 1px solid white;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.FileDetailsContentViewFileContent {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.FileContentScrollBox {
  overflow: auto;
}

.containsRow[rowPosition="equal"] {
  color: green;
}
.containsRow[rowPosition="contains"] {
  color: orange;
}
.containsRow[rowPosition="unequal"] {
  color: red;
}
