html {
  height: 100%;
}
body {
  background: black;
  color: white;
  height: 100%;
}
.MainGrid {
  display: grid;
  grid-template-rows: 15% auto;
  height: 100%;
}
.ControlPanelGrid {
  display: grid;
  grid-template-columns: auto 15%;
  height: 100%;
}
.ControlInteractiveGrid {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
