<div class="FileContentControlView">
  <div >
    @if (isPrimary) {
      <div style="display: flex; align-items: center; justify-content: center; height: 2em; font-weight: bolder">
        <label>Primary File</label>
      </div>
    } @else {
      <div style="display: grid; grid-template-columns: 1fr 1fr; height: 2em">
        <div style="display: flex; align-items: center; justify-content: center">
        @if (isEqualToPrimary) {
          <label class="IsEqualToPrimaryLabel ">Equal to primary</label>
        } @else {
          <label class="IsUnequalToPrimaryLabel ">Unequal to primary</label>
        }
        </div>
        <div style="display: flex; align-items: center; justify-content: center">
          <input #PrimaryCheckBox type="button" value="set Primary" [disabled]="isPrimary" (click)="setToComparedFile()">
        </div>
      </div>
    }
    <div>
      <label>Separator: </label>
      <input #SeparatorInput type="text" style="max-width: 20px; text-align: right" (keyup)="changeSeparator(SeparatorInput.value)">
    </div>
  </div>
  <div class="FileStateIdentityBox">
    <div class="FileStateIdentity IsEqualToPrimary " [attr.isEqualToPrimary]="isEqualToPrimary">

    </div>
  </div>
</div>
